/*HEADER*/
header{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    background-size: contain;
    background-repeat: repeat;
}

#booleaner-image{
    width: 20%;
}

/*BODY*/
.writtenby{
    color: gray;
}

.writtenby p{
    font-size: 11px;
}

#author{
    color: #4ea0ff;
}

.photo-description{
    font-size: 11px;
}

.highlight{
    background-color: yellow;
}