header{
    width: 100%;
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    background-size: contain;
    background-repeat: repeat;
}

#booleaner-image{
    width: 20%;
}