/*BODY*/
body {
    font-family: Verdana, sans-serif;
  }

/*HEADER*/
header{
    background-image: url("../img/pattern.png");
    background-color: #4ea0ff;
    background-size: contain;
    background-repeat: repeat;
    padding-top: 75px;
}

header #logo{
    height: 50px;
}

/*MAIN*/

/*Title and subtitles*/
.subtitle{
    color: gray;
}

#author{
    color: #4ea0ff;
}

p{
    font-size: 11px;
}

.highlight{
    background-color: yellow;
}

/*Table*/
table{
    text-align: left;
    border-collapse: collapse;
}

thead{
    background-color: #4ea0ff;
    color: white;
}

tr.blue-bg{
    background-color: lightblue;
}

/*FOOTER*/
footer h4{
    color: gray;
}

.interesting{
    width: 200px;
    height: 125px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

.interesting a{
    color: white;
    font-weight: bold;
}

/*Footer background images*/
.monitor{
    background-image: url("../img/monitor.jpg");
}

.graph{
    background-image: url("../img/graph.jpg");
}